/*

Theme called 'sadiescustom' for customising EnlighterJS code block elements. 

Author: Sadie Bartholomew (GH user 'sadielbartholomew')

*/

.sadiescustomEnlighterJS,
.sadiescustomEnlighterJSWrapper,
.sadiescustomEnlighterJSTabPane {
  font-family: Consolas, "Source Code Pro", "Liberation Mono",
    "Courier New", Courier, monospace;
  overflow: visible;
}

/* Inline specific styles */
span.sadiescustomEnlighterJS {
  background-color: #272b32;
  padding: 3px 5px 3px 5px;
}

/* LIST specific styles */
ol.sadiescustomEnlighterJS,
ul.sadiescustomEnlighterJS,
.sadiescustomEnlighterJSWrapper pre {
  color: #fc991a;
  font-size: 14px;
  background-color: #1a1a1a;
  border-left: 1px dashed #fc991a;
  border-right: 1px dashed #fc991a;
  padding: 0px 0px 0px 50px;
  margin: 20px 0px 20px 0px;
}
.sadiescustomEnlighterJSWrapper pre {
  font-size: 20px;
  line-height: 22px;
  color: #fc991a;
}

/* line styles */
ol.sadiescustomEnlighterJS li,
ul.sadiescustomEnlighterJS li {
  border: solid 0px #ffffff;
  line-height: 19px;
  color: #fc991a;
  background-color: transparent;
  margin: 0px;
  padding-left: 1px 5px 1px 0px;
}

ol.sadiescustomEnlighterJS li {
  list-style: decimal outside;
  border-left: 0px dashed #e0e0e0;
  color: #fc991a;
  padding: 0px 0px 0px 10px;
}

ol.sadiescustomEnlighterJS li:first-child {
  padding-top: 0px;
}

ol.sadiescustomEnlighterJS li:last-child {
  padding-bottom: 0px;
}

/* default symbol styles */
.sadiescustomEnlighterJS span {
  font-size: 20px;
  color: #cccccc;
}
/* Symbol Styles */
/* Delimiter e.g. <?php ?> */
.sadiescustomEnlighterJS .de1 { color: #4d4d4d; font-weight: bold; }
.sadiescustomEnlighterJS .de2 { color: #4d4d4d; font-weight: bold; }

/* Language Kewords */
.sadiescustomEnlighterJS .kw1 { color: #cc3300; }
.sadiescustomEnlighterJS .kw2 { color: #cc3300; }
.sadiescustomEnlighterJS .kw3 { color: #cc3300; }
.sadiescustomEnlighterJS .kw4 { color: #cc3300; }

/* Comments */
.sadiescustomEnlighterJS .co1 { color: #4d4d4d; }
.sadiescustomEnlighterJS .co2 { color: #4d4d4d; }

/* Strings */
.sadiescustomEnlighterJS .st0 { color: #007cc4; }
.sadiescustomEnlighterJS .st1 { color: #007cc4; }
.sadiescustomEnlighterJS .st2 { color: #007cc4; }

/* Numbers */
.sadiescustomEnlighterJS .nu0 { color: #fc991a; font-weight: bold; }

.sadiescustomEnlighterJS .me0 { color: #fc991a; }
.sadiescustomEnlighterJS .me1 { color: #fc991a; }

/* Brackets */
.sadiescustomEnlighterJS .br0 { color: #cccccc; font-weight: bold; }

/* Symbols */
.sadiescustomEnlighterJS .sy0 { color: #4d4d4d; font-weight: bold; }

/* Escape Sequences */
.sadiescustomEnlighterJS .es0 { color: #4d4d4d; font-weight: bold; }

/* Regular Expression outside Strings */
.sadiescustomEnlighterJS .re0 { color: #fc991a }

/* hover effect */
ol.sadiescustomEnlighterJS.hoverEnabled li:hover,
ul.sadiescustomEnlighterJS.hoverEnabled li:hover {
  background-color: #333333;
}

/* special line highlight color */
ol.sadiescustomEnlighterJS li.specialline,
ul.sadiescustomEnlighterJS li.specialline {
  background-color: #392d3b;
}

/* Tab Pane */
.sadiescustomEnlighterJSTabPane .controls {
  background-color: #121518;
  padding: 5px 0px 0px 0px;
}

.sadiescustomEnlighterJSTabPane .controls ul {
  margin-left: 10px;
}

.sadiescustomEnlighterJSTabPane .controls li {
  border-radius: 0px;
  background-color: transparent;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #f0f0f0;
  border-radius: 5px 5px 0px 0px;
  text-transform: lowercase;
}

.sadiescustomEnlighterJSTabPane .controls li:hover {
}

.sadiescustomEnlighterJSTabPane .controls li.selected {
  background-color: #1a1a1a;
}
