/*

  ABOUT
  -----

  Design & style by Sadie Louise Bartholomew ('sadielbartholomew'), 2020.

  Adapted from a basic template called 'Sided Template' by TemplateMo:
  <https://templatemo.com/tm-527-sided>.


  COLOUR SCHEME
  -------------

  Core:
    WHITE          white
    OFF-BLACK      #1a1a1a

  Brights:
    ORANGEY-RED    #cc3300
    BLUE           #007cc4
    ORANGE-YELLOW  #fc991a

  Greys:
    LIGHTER GREY   #f6f6f6
    DARKER GREY    #8d8d8d

*/


/* -------------------- TOP-LEVEL SITE FORMATTING ------------------- */

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 21px;
  font-weight: 400;
  overflow-x: hidden;
}

h2 {
  font-size: 1.4rem;
}

p {
  line-height: 1.7;
}

ol, ul {
  line-height: 1.7;
}

a:hover {
  text-decoration: none;
}

a,
button {
  transition: all 0.3s ease;
}

.container-fluid {
  max-width: 1310px;
}


/* -------------------------- SITE COLOURS -------------------------- */

a {
  color: #007cc4;
  outline: none;
}

.tm-bg-white-alpha {
  background-color: rgba(255, 255, 255, 0.58);
}

.tm-bg-black-alpha {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-grey {
  background-color: #f6f6f6;
}

.tm-bg-dark-grey {
  background-color: #8d8d8d;
}

.tm-text-white {
  color: white;
}

.tm-bg-primary {
  background-color: #1a1a1a;
}

.tm-text-primary-red {
  color: #cc3300;
}

.tm-text-primary-blue {
  color: #007cc4;
}

.tm-text-primary-bright {
  color: #cc3300;
}

.tm-hr-primary-bright {
  border-color: #cc3300;
}

.tm-hr-white {
  border-color: white;
}

.tm-hr-black {
  border-color: #1a1a1a;
}

.tm-text-secondary {
  color: #999999;
}

.tm-text-grey {
  color: #656565;
}

.tm-text-accent {
  color: #cc3300;
}


/* ------------------------- COLUMN CREATION ------------------------ */

.columns-bg {
  background-image: linear-gradient(
    to right,
    #1a1a1a,
    #1a1a1a 50%,
    #ffffff 50%
  );
}

.bg-all-white {
    background-color: white;
}

.bg-all-black {
    background-color: #1a1a1a;
}

#colour-bg-white {
  background: white;
}


/* ---------------------------- GRIDDING ---------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}

.grid-item {
  padding: 10px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
}

.grid-item figure {
  position: relative;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  height: 600px;
  object-fit: cover;
  bottom: 0px;
}

.grid-item figure img {
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.grid-item figure figcaption {
  padding: 2em 1em 2em 1em;
  text-shadow: 5px 5px #1a1a1a;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid-item figure figcaption::before,
.grid-item figure figcaption::after {
  pointer-events: none;
}

.grid-item figure figcaption,
.grid-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-shadow: 5px 5px #1a1a1a;
  font-size: 1.75em;
}

.grid-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.5em;
}

.grid-item figure h2 span {
  font-weight: 800;
}

.grid-item figure h2,
.grid-item figure p {
  margin: 0;
}

.grid-item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  text-shadow: 2px 2px #1a1a1a;
}


/* --------------------------- FIGURE EFFECTS ----------------------- */

figure.effect-duke {
  background: -webkit-linear-gradient(180deg, #f6f6f6 0%, #f6f6f6 100%);
  background: linear-gradient(180deg, #1a1a1a 0%, #1a1a1a 100%);
}

figure.effect-duke img,
figure.effect-duke p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-duke:hover img {
  opacity: 0.1;
  -webkit-transform: scale3d(2, 2, 1);
  transform: scale3d(2, 2, 1);
}

figure.effect-duke h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

figure.effect-duke p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 30px;
  border: 2px solid #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
}

figure.effect-duke:hover h2,
figure.effect-duke:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}


/* ------------------------ SECTION-SPECIFIC ------------------------ */

.tm-section-logo {
  padding-top: 170px;
  padding-bottom: 0;
}

.tm-section-logo-short {
  padding-top: 100px;
}

.tm-p-1-section-1 {
  margin-bottom: 80px;
}

#our_place {
  padding-top: 70px;
  padding-bottom: 70px;
}

.tm-section-4 {
  padding-top: 70px;
  padding-bottom: 70px;
}

#gallery {
  padding-top: 115px;
  padding-bottom: 110px;
}

.tm-section-contact {
  padding-top: 110px;
  padding-bottom: 90px;
}

#outro {
  padding-top: 90px;
}

#footer {
  padding-top: 30px;
  padding-bottom: 55px;
}

pagefooter {
  padding-top: 30px;
  padding-bottom: 55px;
  text-align: center;
}

.tm-section-title-2 {
  font-size: 1.8rem;
  text-align: right;
}

.tm-section-title-3 {
  font-size: 1.8rem;
  text-align: left;
}

.tm-section-title-underline {
  border-top: 1px solid black;
  max-width: 500px;
  margin-right: 0;
  width: 85%;
}

.tm-site-name-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fc991a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-site-name-container-inner {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.tm-site-name {
  font-size: 3.5rem;
  font-weight: 600;
}

.tm-page-content-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-page-content-container-wide {
  max-width: none;
}

.tm-page-name-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-page-name-container-wide {
  max-width: none;
}

.tm-page-name-container-inner {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fc991a;
}

.tm-page-name-container-inner p {
  text-align: justify;
}

.tm-page-name {
  font-size: 3.5rem;
  font-weight: 600;
}

.tm-outro-border {
  padding-top: 25px;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #fc991a;
}

.tm-outro-border-beneath {
  padding-bottom: 25px;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fc991a;
}

.tm-site-description {
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.tm-section-text-container {
  padding: 0 50px;
}

.tm-page-section-text-container {
    max-width: none;
    padding: 20px 20px 20px 20px;
  }

.tm-section-text-container-2 {
  padding: 20px 55px 30px;
  max-width: 640px;
}

.tm-section-text-container-3 {
  padding: 64px 68px;
}

.tm-section-col-4 {
  margin-right: 0;
  margin-left: auto;
}

.tm-section-text-container-4 {
  padding: 40px 55px 0;
}

.tm-section-text-container-11 {
  padding: 40px 55px 0;
}

.tm-section-text-container-10 {
  padding: 20px 20px 20px;
}

.tm-section-text-container-9 {
  padding: 20px 20px 20px;
  text-align: right;
}

.tm-footer-text-container {
  padding: 0 70px;
}

.tm-section-text-container-5 {
  max-width: 430px;
  padding-right: 85px;
  margin-right: 0;
  margin-left: auto;
}

.tm-section-text-container-6 {
  padding: 0 55px 60px;
}

.tm-section-text-container-8 {
  padding: 40px 40px;
}

.tm-section-title-mb {
  margin-bottom: 30px;
}

.tm-overlay-text-larger {
  font-size: 1.75rem;
}

.tm-section-title-mb-2 {
  margin-bottom: 50px;
}

.tm-img-right {
  margin-left: -1px;
}

.tm-img-left-container,
.tm-text-left-container {
  padding-right: 0;
}

.tm-img-right-container {
  padding-left: 0;
}

.tm-copyright-text {
  font-size: 1.0rem;
  padding-bottom: 50px;
}

.tm-copyright-link {
  color: #1a1a1a;
}

.tm-p-2-section-1 {
  margin-top: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.tm-p-3-section-1 {
  padding-top: 82px;
}

.tm-p-3-section-3 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.tm-p-3-section-contact {
  padding-top: 60px;
}

.tm-section-underline {
  width: 50%;
}

.tm-reflect-text {
  direction: rtl;
  unicode-bidi: bidi-override;
  background: -webkit-linear-gradient(right, white, #1a1a1a, #1a1a1a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tm-fade-border {
  background-image: -webkit-linear-gradient(right, white, #1a1a1a, #1a1a1a);
  height: 1px;
  border-top: none;
}

.tm-hr-mb {
  margin-bottom: 46px;
}

.tm-p-mb {
  margin-bottom: 45px;
}

.tm-text-right-container {
  padding-left: 0;
}

.tm-section-text-container-7 {
  padding: 65px 140px;
}

.tm-section-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fa-6x {
  font-size: 6em;
}

.tm-overlay-container {
  position: relative;
}

.tm-text-overlay {
  max-width: 350px;
  width: 50%;
  height: 100%;
  margin-left: 10%;
}


/* --------------------- NAVIGATION 'BURGER' BAR -------------------- */

.open {
  top: 20px;
  right: 25px;
  width: 40px;
  height: 55px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  position: absolute;
  pointer-events: visible;
}

.open span {
  pointer-events: none;
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fc991a;
  position: absolute;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) {
  margin-top: 25px;
}

.open span:nth-child(3) {
  margin-top: 40px;
}

.sub-menu {
  pointer-events: auto;
  transition: all 0.8s cubic-bezier(0.08, -1.50, 0.965, 1.55);
  height: 0;
  width: 0;
  right: 55px;
  top: 40px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu.black-background {
  background-color: #1a1a1a;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -170px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child {
  margin-top: 210px;
}

.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
}

.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}

.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.2s;
}

.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}

.sub-menu li a {
  color: #1a1a1a;
  width: 100%;
  display: block;
  float: left;
  line-height: 30px;
}

.sub-menu.white-text li a {
  color: white;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 320px;
  width: 320px;
}

.oppenned span:nth-child(2) {
  overflow: visible;
}

.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}

.oppenned span:nth-child(2) {
  height: 0px;
  width: 0px;
  right: -190px;
  top: -200px;
  border-radius: 50%;
  background-color: none;
  margin-top: 0px;
}

.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}

.oppenned li {
    margin-right: 138px;
}

.open-button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #1a1a1a;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}

.open-button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}

.button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #1a1a1a;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}

.open-button:hover {
  text-decoration: none;
}

.open-button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}

.open-button:hover:before {
  transform: translateY(0);
}

.open-container {
  display: flex;
  max-width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.card {
  position: relative;
  z-index: 10;
  width: 280px;
  border-radius: 4px;
  padding-bottom: 40px;
  background: #1a1a1a;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card figcaption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #1a1a1a;
}

.card img {
  max-width: 100%;
  border: 1px solid #222;
  transition: 0.4s;
}

.card:hover img {
  transform: scale(1.1);
}


/* ------- LARGE FEATURED AND BACKGROUNDED IMAGES ------------------- */

#bg_img {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* ------------------- SOCIAL, CONTACT AND FORMS -------------------- */

.tm-contact-section {
  font-size: 0.95rem;
}

.tm-contact-left {
  max-width: 450px;
  margin-left: auto;
  margin-right: 0;
  padding: 70px 45px 70px 70px;
}

.tm-contact-left,
.tm-contact-form-container {
  max-width: 450px;
}

.tm-contact-link {
  color: #313638;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.tm-contact-icon-container {
  display: inline-block;
  background-color: white;
  color: #fc991a;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 30px;
}

.tm-contact-icon-container-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #1a1a1a;
}

.tm-social-icon-container {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.tm-social-icon-container-2 {
  background-color: #1a1a1a;
}

.tm-social-icon-container-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tm-social-icon-container i {
  color: #1a1a1a;
}

.tm-social-icon-container-2 i {
  color: white;
}

.tm-social-icon-container:hover i {
  color: #cc3300;
}

.tm-social-icon-container-2:hover i {
  color: white;
}

.tm-social-icon-container-2:hover {
  background-color: #cc3300;
}

.tm-contact-icon {
  font-size: 1.5rem;
}

.tm-phone-icon {
  margin-top: -2px;
  margin-left: -2px;
}

.tm-contact-form {
  max-width: 380px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-color: #9a9a9a;
  font-size: 0.9rem;
}

.form-control:focus {
  box-shadow: none;
}

.tm-contact-form-container {
  padding: 55px 67px;
}


/* ------------------------------ BUTTONS --------------------------- */

.tm-btn-submit {
  border: 1px solid #9a9a9a;
  padding: 10px 35px;
  color: #313638;
  font-size: 0.9rem;
}

.tm-btn-submit:hover {
  color: #1a1a1a;
  border-color: #1a1a1a;
}

.btn {
  padding: 11px 40px;
  border-radius: 0;
}

.btn-primary {
  background-color: #fc991a;
  border-color: #fc991a;
}

.btn-secondary {
  background-color: white;
  border-color: white;
  color: #3399ff;
}

.btn-secondary:hover {
  color: #3399ff;
  background-color: #fc991a;
  border-color: #fc991a;
}


/* ------------------------ RESPONSIVE DESIGN ----------------------- */

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1200px) {
  .tm-section-title-underline {
    max-width: 350px;
  }

  .tm-section-title-underline-left {
    max-width: 350px;
    border-color: white;
    margin-right: 0px;
  }

  .tm-section-title-underline-right {
    max-width: 350px;
    border-color: #1a1a1a;
    margin-left: 0px;
  }

  .grid figure h2 {
    font-size: 1.5em;
  }

  figure.effect-duke p {
    padding: 20px;
  }

  .tm-social-icon-container {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1100px) {
  .tm-section-underline {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .grid {
    flex-wrap: wrap;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-social-icon-container {
    margin-right: 10px;
  }

  .tm-section-text-container-2 {
    margin: 0 auto;
  }

  .tm-section-text-container-3 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-section-text-container-4 {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 320px;
  }

  .tm-section-image-container {
    text-align: center;
  }

  .tm-img-left-container,
  .tm-text-left-container {
    padding-right: 15px;
  }

  .tm-img-right-container {
    padding-left: 15px;
  }

  .tm-section-title-underline-left {
    margin-left: auto;
    margin-right: auto;
    border-color: white;
  }

  .tm-section-title-underline-right {
    margin-left: auto;
    margin-right: auto;
    border-color: #1a1a1a;
  }

  .tm-section-text-container-7 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 68px;
  }

  .tm-text-overlay {
    padding: 7%;
    width: 100%;
    margin-left: auto;
    position: relative;
    right: 0;
  }

  .tm-section-underline {
    width: 80%;
  }
}

@media (max-width: 900px) {
  #outro {
    padding-top: 45px;
  }
}

@media (max-width: 767px) {
  .columns-bg {
    background-image: none;
  }

  .tm-site-name-container {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .tm-section-logo {
    padding-top: 3rem;
  }

  .tm-p-1-section-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .tm-p-2-section-1 {
    margin-top: 50px;
  }

  .tm-p-3-section-3 {
    margin-top: 0;
  }

  #intro,
  #section_4,
  #contact {
    background-color: #1a1a1a;
  }

  #our_place {
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  #gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .tm-section-contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #outro {
    padding-top: 60px;
  }

  #footer {
    padding-top: 0;
    padding-bottom: 15px;
  }

  .tm-contact-left {
    margin-left: 0;
  }

  .tm-section-text-container {
    padding: 50px;
  }

  .tm-section-text-container-4 {
    padding: 30px 70px 0;
    max-width: none;
  }

  .tm-section-text-container-5 {
    margin-left: 0;
  }

  .tm-section-text-container-6 {
    margin-top: 50px;
    padding: 0;
  }

  #outro .tm-text-white {
    color: #1a1a1a;
  }

  .tm-contact-left,
  .tm-contact-form-container {
    margin-left: auto;
    margin-right: auto;
  }

  .tm-contact-form-container {
    padding-bottom: 0;
  }

  .tm-btn-submit {
    color: white;
    border-color: white;
  }

  .tm-btn-submit:hover {
    color: #e9ecef;
    border-color: #e9ecef;
  }

  .form-control {
    background-color: transparent;
    color: white;
    border-color: white;
  }

  .form-control::placeholder {
    color: white;
    opacity: 1;
  }

  .form-control:-ms-input-placeholder {
    color: white;
  }

  .form-control::-ms-input-placeholder {
    color: white;
  }

  .tm-copyright-text {
    padding: 10px 10px 10px 0;
  }

  .tm-sm-bg-blue {
    background-color: #1a1a1a;
  }

  .tm-section-icon-container {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .tm-section-underline {
    width: 100%;
  }

  .tm-p-3-section-contact {
    padding-bottom: 60px;
  }
}

@media (max-width: 687px) {
  .grid figure {
    flex: 1 0 40%;
  }
}

@media (max-width: 575px) {
  .tm-section-text-container-5 {
    padding-right: 15px;
    margin-left: 0;
    margin-right: auto;
  }

  .tm-section-text-container-6 {
    padding: 0 15px 0 0;
    margin-left: 0;
    margin-right: auto;
    max-width: 450px;
  }

  .tm-section-text-container-3,
  .tm-section-text-container-8 {
    padding: 40px 30px;
  }

  .tm-section-icon-container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width: 529px) {
  .grid {
    max-width: 300px;
    overflow-x: hidden;
  }

  .grid figure {
    flex: 1 0 100%;
  }

  .tm-section-text-container-4 {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .tm-site-name-container {
    padding-left: 15%;
    padding-right: 10%;
  }

  .tm-sm-bg-white-alpha {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
  }

  .grid {
    flex-wrap: wrap;
  }

  .tm-gallery-title-col {
    padding-right: 15px;
  }

  .tm-section-text-container-4 {
    padding: 30px;
  }

  .tm-footer-text-container {
    padding-left: 25px;
  }

  .tm-contact-left {
    padding: 60px 30px;
  }

  .tm-contact-form-container {
    padding: 40px 30px 0;
  }

  #outro {
    padding-top: 40px;
    padding-left: 10px;
  }
