<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Apply styling and custom font: -->
        <link href="//fonts.googleapis.com/css?family=Kosugi+Maru:300,400,600,700,800" rel="stylesheet" />
        <link href="css/global_style.css" rel="stylesheet" type="text/css" media="all" />

        <title>{{ post.title }}</title>
    </head>

    <body>
        <!-- Shared navigation bar with site title: -->
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="#">Sadie Louise Bartholomew</a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li{% if post.accesskey == '1'%} class="current_page_item"{% endif %}>
                            <a href="index.html" accesskey="1" title="">Home</a>
                        </li>
                        <li{% if post.accesskey == '2'%} class="current_page_item"{% endif %}>
                            <a href="writing.html" accesskey="2" title="">Writing</a>
                        </li>
                        <li{% if post.accesskey == '3'%} class="current_page_item"{% endif %}>
                            <a href="artwork.html" accesskey="3" title="">Artwork</a>
                        </li>
                        <li{% if post.accesskey == '4'%} class="current_page_item"{% endif %}>
                            <a href="software.html" accesskey="4" title="">Software</a>
                        </li>
                        <li{% if post.accesskey == '5'%} class="current_page_item"{% endif %}>
                            <a href="music.html" accesskey="5" title="">Music</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Featured image (for top-level pages) goes here. -->
        <div id="featured" style="background-image: url(img/{{ post.featured_image_url }});">&nbsp;</div>

        <!-- PAGE CONTENT GOES HERE. -->
        <div id="wrapper">
            <div id="page" class="container">
                <div id="content">
                    <div class="title">
                        <h2>{{ post.content_title }}</h2>
                        <span class="byline">{{ post.content_byline }}</span>
                    </div>
                    
                    {{ post.content }}
                    
                </div>
            </div>
        </div>
        
        <!-- Shared footer: -->
        <div id="copyright" class="container">
            <p>&copy; Material by <a href="https://github.com/sadielbartholomew" rel="nofollow">Sadie Bartholomew</a>. All rights reserved.</p>
        </div>
    </body>

</html>
